body {
  width: 0 auto;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

header {
  font-size: 50px;
}

button {
  width: 150px;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
  background-color: lightgrey;
}

.whoseTurn {
  margin: 10px;
  font-size: 13px;
}

table {
  color: black;
  background-color: lightblue;
  border: 5px solid black;
  width: 600px;
  height: 500px;
  font-size: 80px;
}

td {
  width: 33%;
  height: 33%;
  text-align: center;
  border: 3px solid black;
}

.highlight {
  background-color: lightgreen
}